b<!DOCTYPE html>
<html>
  <head>
    <title>DashBoard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://code.jquery.com/ui/1.10.3/themes/redmond/jquery-ui.css" rel="stylesheet" media="screen">
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/styles4.css" rel="stylesheet">
  </head>
  <body>
  	<div class="header">
	     <div class="container">
	        <div class="row">
	           <div class="col-md-5">
	              <!-- Logo -->
	              <div class="logo">
	                 <h1><a href="/Dashboard">Dashboard</a></h1>
	              </div>
	           </div>
	        </div>
	     </div>
	</div>

    <div class="page-content">
    	<div class="row">
		  <div class="col-md-2">
		  	<div class="sidebar content-box" style="display: block;">
                <ul class="nav">
                    <li class="current"><a href="/Dashboard"><i class="glyphicon glyphicon-list"></i> Dashboard</a></li>  
                    <li class="current"><a href="/"><i class="glyphicon glyphicon-list"></i> Logout</a></li>  
                </ul>
             </div>
		  </div>
		  <div class="col-md-10">

		  	<div class="row">
 
  			<div class="content-box-large">
  				<div class="panel-heading">
					<div class="panel-title">List of Users Accounts Login</div>
				</div>
  				<div class="panel-body">
  					<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="example">
						<thead>
							<tr>
								<th>Name</th>
								<th>Username</th>
								<th>Email Address</th>
							</tr>
						</thead>
						<tbody class="accounts" id="tblNames">
							<% for(var i=0; i<accounts.length; i++) {%>
						    <tr class="accounts">
						      <td><%= accounts[i].name %></td>
						      <td><%= accounts[i].username %></td>
						      <td><%= accounts[i].email%></td>
						    </tr>
						    <% } %> 
						</tbody>
					</table>
  				</div>
  			</div>
<script> 
let jns_retrieve = JSON.parse(localStorage.getItem('user'));
    let html = ``;
    jns_retrieve.map((user)=>{
      html += `
      <tr>
        <td>${user.name}</td>
        <td>${user.course}</td>
        <td>${user.platform}</td>
      </tr>
      `;    
    });
    document.querySelector('#tblNames').innerHTML = html;
			
</script>


		  </div>
		</div>
    </div>


      <link href="/vendors/datatables/dataTables.bootstrap.css" rel="stylesheet" media="screen">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- jQuery UI -->
    <script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/bootstrap/js/bootstrap.min.js"></script>

    <script src="/vendors/datatables/js/jquery.dataTables.min.js"></script>

    <script src="/vendors/datatables/dataTables.bootstrap.js"></script>

    <script src="/js/custom.js"></script>
    <script src="/js/tables.js"></script>
  </body>
</html>